.container {
  width: 100%;
}
.container * {
  transition: opacity 0.3s ease-out;
}
.hidden {
  opacity: 0;
}
.optionContainer {
  display: flex;
  gap: 1em;
}
.parameter {
  border: 1px solid var(--primary);
  border-radius: 0.7em;
  background: none;
  font-size: 1em;
  padding: 0.4em 0.8em;
}
.parameter.active {
  background-color: var(--primary);
}
.parameter.custom::placeholder {
  /* color: #c28946; */
  color: #926b3f;
}
.parameter.custom:focus-visible {
  outline: none;
}
.parameter.custom.active::placeholder {
  /* color: #c28946; */
  color: #e2cdb4;
}
